@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
* {
  transition: 0.3s all;
}
a {
  text-decoration: none;
}
.wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
}
.mynav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: rgba(8, 52, 97, 0.616);
  padding: 0 30px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.24);
}
.mynav__theme {
  outline: none;
  border: none;
  padding: 8px 20px;
  background: #b68a07;
  border-radius: 7px;
  cursor: pointer;
}
.mynav__theme:active {
  box-shadow: inset 0 0 20px -3px rgba(0, 0, 0, 0.6);
}
.mynav__menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.mynav__item {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 15px;
}
.mynav__item:hover {
  background-color: rgba(12, 77, 144, 0.616);
}
.mynav__link {
  font-size: 20px;
  color: #fff;
}
.mynav__link:hover {
  font-size: 22px;
}
.main {
  padding: 40px 0;
}
.main__content {
  display: flex;
  justify-content: space-around;
  width: 1000px;
  margin: 0 auto;
}
.main__tile {
  padding: 20px;
  width: 18%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.main__tile--danger .main__header,
.main__tile--danger .main__plus {
  color: rgba(53, 31, 93, 0.657);
}
.main__tile--success .main__header,
.main__tile--success .main__plus {
  color: #7162ad;
}
.main__tile--warning .main__header,
.main__tile--warning .main__plus {
  color: #dad593;
}
.main__tile--primary .main__header,
.main__tile--primary .main__plus {
  color: #0b7181;
}
.main__header {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.main__features {
  list-style: none;
  margin: 0 0 40px 0;
  padding: 0 0 0 20px;
}
.main__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 16px;
}
.main__footer {
  text-align: center;
}
.main__button {
  outline: 0;
  padding: 8px 20px;
  cursor: pointer;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 15px;
  background: transparent;
}
.main__button--danger {
  border-color: rgba(53, 31, 93, 0.657);
}
.main__button--danger:hover {
  background: rgba(46, 6, 118, 0.657);
  color: #000000;
  transform: rotate(-90deg);
}
.main__button--danger {
  border-color: rgba(53, 31, 93, 0.657);
}
.main__button--danger:hover {
  background: rgba(46, 6, 118, 0.657);
  color: #540861;
  transform: rotate(360deg);
  perspective-origin: top right;
  perspective: 400px;
}
.main__button--success {
  border-color: #7162ad;
}
.main__button--success:hover {
  background: #5432dd;
  color: #000000;
  transform: rotate(-90deg);
}
.main__button--success {
  border-color: #7162ad;
}
.main__button--success:hover {
  background: #3a315e;
  color: rgba(25, 86, 117, 0.8285);
  font-size: 150%;
}
.main__button--primary {
  border-color: #0b7181;
}
.main__button--primary:hover {
  background: #00798c;
  color: #000000;
  transform: rotate(-90deg);
}
.main__button--warning {
  border-color: #dad593;
}
.main__button--warning:hover {
  background: #f7ee76;
  color: #000000;
  transform: rotate(-90deg);
}
.main__button--warning {
  border-color: #dad593;
}
.main__button--warning:hover {
  background: #f7ee76;
  color: #540861;
  transform: rotate(360deg);
  perspective-origin: top right;
  perspective: 400px;
}
